*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --bg: #242424;

  --1: #fbc120;
  --2: #fea419;
  --3: #fe9315;
  --4: #fb5905; 
  --5: #f83900;
  
  
  --6: #3b68f4;
  --7: #356bf6;
  --8: #972ae6;
  --9: #5947e1;
}

a,
a:visited {
  color: #00d8ff
}

div#root {
  display: flex;
}

nav {
  position: sticky;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

nav > img {
  margin: 20px;
  width: 100px;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  position: relative;
  padding: 36px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

p>img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}